---
import { facilitadores } from "@/lib/facilitadores";
import { Image } from "astro:assets";
import left from "@/assets/facilitadores/left.png";
import right from "@/assets/facilitadores/right.png";
---

<div
  class="wfull flex aspect-[10/4] bg-[url('/facilitadores/montserrat.jpg')] bg-fixed bg-no-repeat bg-cover"
>
</div>

<section
  id="facilitadores"
  class="flex flex-col items-center bg-[url('/facilitadores/bg.jpg')] bg-no-repeat bg-cover py-24"
>
  <h2 class="font-title text-slate-50 text-8xl leading-none">Facilitadores</h2>

  <ul
    id="facilitadoresSlider"
    class="w-full flex gap-6 snap-x snap-mandatory overflow-x-auto pb-6 hide-scrollbar"
  >
    <span class="shrink-0 w-1/2"></span>

    {
      facilitadores.map(({ image, name, text }) => (
        <li class="relative snap-center shrink-0 h-[550px] aspect-[6/3.5] flex items-end">
          <img class="absolute inset-0 h-full rounded-xl z-10" src={image} />

          <article class="relative w-full h-3/4 rounded-xl shadow-xl bg-white bg-[url('/facilitadores/card-bg.png')] flex flex-col items-end justify-center gap-1 pl-24 pr-8 overflow-hidden">
            <h3 class="w-2/3 font-bold text-5xl">{name}</h3>
            <p class="w-2/3 text-lg">{text}</p>

            <span class="absolute bottom-0 left-0 z-20 pointer-events-none">
              <Image src={left} alt="Ornamentación inca" width="250" />
            </span>

            <span class="absolute top-0 right-0 z-20 pointer-events-none">
              <Image src={right} alt="Ornamentación inca" width="200" />
            </span>
          </article>
        </li>
      ))
    }

    <span class="shrink-0 w-1/2"></span>
  </ul>

  <nav class="flex gap-2 text-white">
    <button
      id="prevButton"
      class="tracking-widest text-lg border-2 border-gray-50 rounded-full px-12 py-2 font-semibold hover:bg-gray-50 hover:text-gray-400 transition"
    >
      ANTERIOR
    </button>
    <button
      id="nextButton"
      class="tracking-widest text-lg border-2 border-gray-50 rounded-full px-12 py-2 font-semibold hover:bg-gray-50 hover:text-gray-400 transition"
    >
      SIGUIENTE
    </button>
  </nav>
</section>

<script>
  const prevButton = document.querySelector("#prevButton");
  const nextButton = document.querySelector("#nextButton");
  const facilitadoresSlider = document.querySelector("#facilitadoresSlider");

  nextButton.addEventListener("click", () => {
    facilitadoresSlider.scrollBy({
      left: 100,
      behavior: "smooth",
    });
  });

  prevButton.addEventListener("click", () => {
    facilitadoresSlider.scrollBy({
      left: -100,
      behavior: "smooth",
    });
  });
</script>
